header {
    display:flex;
    background-color: #CCCCCC;
    align-items: center;
    justify-content: flex-end;
    width:100%;
        &__titulo {
        color: #666666;
        font-family: 'Quicksand', sans-serif;    
        font-size: 32px;
        font-weight:200;
        background:none;
        margin-left:10px;
        }
        &__navegacion {
            flex-grow:1;
            background-color: #CCCCCC;
        }
        &__links {
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            text-align: right;
            background-color: #CCCCCC;
            padding: 15px;
        }
}