@media (min-width: 320px) and (max-width:540px) {

    .galeria__uno {
        display:none;
    }
    .galeria__tres {
        display:none;
    }
    }
    .galeria__seis {
        display:none;
    }
    .galeria__siete {
        display:none;
    }
    .galeria__nueve {
        display:none;
    }
