$color-background: #dddddd;
$color-header: #CCCCCC;
$color-titulo: #666666;
$color-descripcion: #AAAAAA;
$color-bgdescripcion: #555555;
$color-descripciondos: #090909;
$font-principal:'Quicksand', sans-serif;
$color-descripcionServicios: #090909;
$color-footer: #090909;
